body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexible-container {
    display: flex;
    padding-bottom: 100px;
    margin-top: 50px;
}

.top-banner {
    width: 50%;
}

.top-banner img {
    width: 100%;
}

.top-banner h1 {
    color: grey;
    font-size: 35px;
    line-height: 10px;
}

#paragraph {
    padding: 5%;
    padding-top: 10%;
}

#paragraph span {
    color: orange;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(to right, orange, tomato);
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
}

#person-img {
    width: 70%;
    height: 91%;
    padding: 10%;
}

#top-sectin-id {
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 100% 80%;
}

.common-div {
    display: flex;
}

.bottom-head {
    text-align: center;
    margin: 0 auto;
}

.recipies-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.manu p {
    font-size: 10px;
}

.manu img {
    border-radius: 10%;
}

.manu {
    width: 33.3%;
    margin: 20px;
    padding: 1%;
    box-shadow: 10px 10px 20px gray;
    border-radius: 10%;
    text-align: center;
}

.parents-div {
    width: 80%;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 15px rgb(15, 212, 41);
}

.social-media {
    padding: 5%;
}

.apps-feature-section {
    padding: 5%;
    background-image: url(images/Frame\ 59.jpg);
}

.apps-feature {
    width: 33.3%;
    height: 250px;
    margin: 20px;
    padding: 1%;
    border-radius: 5%;
    text-align: center;
}

.apps-feature p {
    font-size: 10px;
}

.apps-feature img {
    height: 140px;
}

.apps-feature:hover {
    box-shadow: 10px 10px 20px gray;
}

.review-section {
    margin-left: 50px;
    padding: 0%;
}

.rate-us-div {
    display: flex;
}

.review {
    width: 25%;
    padding: 20px;
}

.rate-us-heading {
    text-align: center;
}

.rate-us-heading h1 {
    color: grey;
}

.review img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.review p {
    font-size: 10px;
}

.checked {
    color: orange;
}

.fbicon {
    color: blue;
    margin-right: 10px;
}

.footer {
    text-align: center;
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: 5%;
}

.footer span {
    color: orange;
}