body {
    font-family: 'Inter', sans-serif;
}

.top-section {
    display: flex;
    padding-bottom: 100px;
    margin-top: 50px;
}

.top-banner {
    width: 50%;
}

.top-banner .paragraph {
    margin-top: 100px;
}

.top-banner img {
    width: 100%;
}

.top-banner h1 {
    color: grey;
    font-size: 35px;
    line-height: 10px;
}

#paragraph {
    margin-top: 100px;
}

#paragraph span {
    color: orange;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(to right, orange, tomato);
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
}

#person-img {
    width: 60%;
    padding-left: 40px;
    padding-top: 30px;
}

#top-sectin-id {
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 100% 77%;
}